* {
	margin: 0;
	padding: 0;
}

.elementiNav {
	
	font-weight: bold;
	padding: 15px;
    margin-right: 15px;
    color: white;
}

.flexNavigacija{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.navigacija{

	background-color: black;
	position: fixed;
	width: 100%;

}


.pozadinaDiva {

	height: 80vh;
	background: url(../slika.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	

}
.pozicijaSlova{

	margin-right: 400px;
	margin-top: -243px;
}

.font {
	font-family: 'Courgette', cursive;
}
.razmak {
	letter-spacing: 3px;
}
.w-70{
	width: 70%;
	
}



@media only screen and (max-width: 640px)
{

	.pozicijaSlova{
	margin-right: 214px;
    margin-top: -177px;
}
   
   
 }


